<!DOCTYPE html>
<html>
<head>
  <title>IndoorMapping</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'form' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'ng-flow/dist/ng-flow.min' %>
  <%= javascript_include_tag 'flow.js/dist/flow.min' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="IM_module" style="background-color: 
pink">
	<div class="col-md-6 col-md-offset-3">
      <div ng-include="'nav/_nav.html'"></div>
         </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <ui-view></ui-view>
    </div>
  </div>
</body>
</html>
